.gradient-bkg {
    background: $gradient;
    border-radius: 0px 0px 12px 12px;
    padding-bottom: 60px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 40px);
        height: 10px;
        background: #CACADB;
        left: 20px;
        bottom: -10px;
        border-radius: 0 0 12px 12px;
    }

    &::before {
        content: '';
        position: absolute;
        width: calc(100% - 80px);
        height: 10px;
        background: #E7E7F2;
        left: 40px;
        bottom: -20px;
        border-radius: 0 0 12px 12px;
    }


}

.bkg-img {
    background-image: url(../img/h-bkg.svg);
    background-position: top center;
    background-repeat: no-repeat;
    
    @media (min-width:768px) {
        background-size: 893px auto;
    }

    @media (min-width: 1024px) {
        background-size: 672px auto;
    }

    @media (min-width: 1440px) {
        background-size: 698px auto;
    }
}

.gray-bkg {
    background-color: $gray-bg;
}