.footer {

    &__box{
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 2px solid $gray-separator;
    }

    &__wrap {
        display: grid;
    }

    &__adress {
        font-size: 16px;
        line-height: 20px;
        color: $darkblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 21px;
    }

    &__map {
        margin-top: 10px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue-regular;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    &__tel {
        margin-top: 6px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $darkblue-alt;
    }

    &__mail {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $blue-regular;
    }

    &__polityc {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: $gray-text;
    }

    @media(min-width: 768px) {
        
        &__wrap {
            margin: 0 auto;
            width: 399px;
            &_foot-hp{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, min-content);
                margin: 0;
                width: 100%;
            }
        }

        &__adress {
            flex-direction: row;
            align-self: flex-start;
        }

        &__map {
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-left: 10px;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $gray-text;
                margin-right: 10px;
            }
        }

        &__contacts {
            grid-column: span 2;
            flex-direction: row;
            margin-bottom: 25px;
        }

        &__fb-logo {
            margin-right: 10px;
            &:hover path {
                fill: $pink;
            }
        }

        &__tel {
            display: flex;
            align-items: center;
            margin: 0;
            margin-right: 10px;
            padding-bottom: 5px;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $gray-text;
                margin-right: 10px;
            }
        }

        &__mail {
            display: flex;
            align-items: center;
            padding-bottom: 5px;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $gray-text;
                margin-right: 10px;
            }
        }

        &__polityc {
            grid-column: span 2;
            justify-self: center;

            &_foot-hp {
                justify-self: flex-end;
                grid-column-start: 2;
                grid-row-start: 1;
            }
        }
    }

    @media(min-width: 1024px) {

        &__wrap {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin: 0;
            width: 100%;
        }

        &__adress {
            flex-direction: row;
        }

        &__map {
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-left: 10px;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $gray-text;
                margin-right: 10px;
            }
        }

        &__contacts {
            grid-column: span 2;
            flex-direction: row;
            margin-bottom: 0;
        }

        &__fb-logo {
            margin-right: 10px;
            &:hover path {
                fill: $pink;
            }
        }

        &__tel {
            display: flex;
            align-items: center;
            margin: 0;
            margin-right: 10px;
            padding-bottom: 5px;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $gray-text;
                margin-right: 10px;
            }
        }

        &__mail {
            display: flex;
            align-items: center;
            padding-bottom: 5px;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $gray-text;
                margin-right: 10px;
            }
        }

        &__polityc {
            justify-self: flex-end;
            grid-column-start: 2;
            grid-row-start: 1;
        }
    }
}