.header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: min-content min-content;
    padding-bottom: 30px;
    
    &__logo-box {
        display: flex;
        align-items: flex-start;
    }

    &__logo-box img {
        width: 69px;
        height: auto;
    }

    &__page-name {
        margin-left: 4px;
        font-size: 20px;
        line-height: 24px;
        color: $darkblue;
        display: flex;
        &::before {
            content: '';
            background-image: url(../img/slash.svg);
            background-repeat: no-repeat;
            width: 12px;
            height: 26px;
            margin-right: 4px;
        }
        &__d-none {
            display: none;
        }
    }

    &__top-box {
        margin: 0 -15px 15px;
        grid-column: span 2;
        padding: 10px 0 10px 0;
        background: $top-box;
        &_white-bkg {
            background: $gray-bg;
        }
    }

    &__lang {
        margin-right: 6px;
        list-style: none;
        padding: 0;
        display: flex;
    }

    &__item {
            margin-right: 2px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: $white;
        padding: 5px 7px;
        border-radius: 8px;
        text-transform: uppercase;
        display: block;

        &_white-bkg {
            color: $gray-text;
        }

        &_active {
            color: $white;
            background: $pink;
        }
    }

    &__adress {
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
        display: none;
        &_white-bkg {
            color: $gray-text;
        }
    }

    &__tel {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
        &_white-bkg {
            color: $gray-text;
        }
    }

    &__fb-logo {
        display: none;
    }

    @media (min-width: 768px) {
        padding-top: 36px;
        padding-bottom: 60px;

        &__logo-box {
            grid-column: span 2;
        }

        &__logo-box img {
            width: 130px;
        }

        &__page-name {
            font-size: 36px;
            line-height: 44px;
            &::before {
                content: '';
                background-image: url(../img/slash.svg);
                background-repeat: no-repeat;
                background-size: 21px auto;
                width: 21px;
                height: 47px;
            }
        }

        &__top-box {
            background-color: transparent;
            margin: 0 -60px 18px;
            padding: 15px 0 12px;
        }

        &__link:hover {
            background-color: $hed-link-hover;
            color: $white;
        }

        &__link {
            &_white-bkg:hover {
                color: $gray-text;
                background: $gray-bg;
            }
        }

        &__top {
            justify-content: flex-start;
        }

        &__adress {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-right: 6px;
                background-color: $gray-separator;
            }
        }

        &__fb-logo {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-left: 6px;
                margin-right: 6px;
                background-color: $gray-separator;
            }
            &:hover path {
                fill: $pink;
            }
        }

        &__tel {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-left: 6px;
                margin-right: 6px;
                background-color: $gray-separator;
            }
        }

    }

    @media (min-width: 1024px) {  
        padding-top: 49px;

        grid-template-columns: 40% 60%;

        &__top-box {
            justify-self: flex-end;
            align-self: flex-end;
            padding: 0;
            grid-column: span 1;
        }

        &__logo-box {
            grid-row: span 2;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            align-self: center;
        }
    }

}