.link-box {
    display: flex;
    justify-content: flex-start;

    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
    
        & svg {
            display: block;
            margin-left: 5px;
        }
    
        &:hover {

            svg {
                transform: translateX(3px);
                transition: 0.2s;
            }

            & path {
                stroke: $pink;
                fill: 250ms;
            }
        }
    }
}
