.menu {
    justify-self: end;

    &__btn {
        padding: 0;
        cursor: pointer;
        position: relative;
        border: none;
        background-color: transparent;
        border-radius: 8px;
    }

    &__box-menu {
        display: none;
        position: absolute;
        width: 359px;
        background-color: $white;
        border-radius: 12px 12px 0px 0px;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        background-color: $gray-bg;
        padding: 7px auto;
        margin: 15px 12px;
        text-align: center;
    }

    &__link {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $blue-regular;
        white-space: nowrap;

        &_active {
            color: $pink;
            border-bottom: 2px solid $pink;
        }
    }

    @media (min-width: 769px) {

        justify-self: flex-start;

        &__btn {
            display: none;
        }

        &__box-menu {
            width: auto;
            display: block;
            position: relative;
            background-color: transparent;
        }

        &__list {
            display: flex;
        }

        &__item {
            background-color: transparent;
            margin: 27px 0 0 0;
        }

        &__item:not(:last-child) {
            margin-right: 16px;
        }

        &__link {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: $white;
            &:hover {
                color: $white;
                border-bottom: 2px solid $white;
            }
            &_white-bkg {
                color: $blue-regular;
                &:hover {
                    color: $blue-regular;
                    border-bottom: 2px solid $blue-regular;
                }
            }

            &_active {
                color: $pink;
                border-bottom: 2px solid $pink;
            }
        }
    }

    @media (min-width: 1025px) {
        justify-self: flex-end;
        align-self: flex-start;

        &__item {
            margin-top: 0;
        }
    }
}