.offer {
    padding-top: 105px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titel {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: #FFFFFF;
        max-width: 315px;
        margin-bottom: 159px;
    }

    &__btn {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid rgba($color: $white, $alpha: 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4px;
        text-decoration: none;

        & svg {
            display: block;
        }

        

        &:hover {
            border: 2px solid rgba($color: $pink, $alpha: 0.5);

            & path {
            stroke: $pink;
            }
        }
    }

    @media (min-width: 768px) {
        padding-top: 214px;
        
        &__titel {
            max-width: 600px;
            margin-bottom: 417px;
        }
    }

    @media (min-width: 1024px) {
        padding-top: 189px;
        
        &__titel {
            margin-bottom: 289px;
        }
    }

    @media(min-width: 1440px) {
        padding-top: 203px;

        &__titel {
            margin-bottom: 305px; 
        }
    }
}