.services {

    &__products {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        gap: 30px;
    }

    &__box-img {
        width: 92px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 24px;
        margin-bottom: 30px;

        & svg {
            display: block;
        }
    }

    &__card-titel {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: $blue-regular;
        margin-bottom: 15px;
    }

    &__copy {
        font-size: 16px;
        line-height: 26px;
        color: $white;
    }

    @media (min-width: 769px) {
        & h2 {
            margin-bottom: 60px;
        }

        &__products {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 60px;
        }
    }

    @media (min-width: 1025px) {

        &__products {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}