* {
    margin: 0;
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    min-width: 375px;
}

.container {
    max-width: 1380px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 30px;

    &_mob {
        max-width: 1350px;
        padding: 0 15px;
    }

    @media (min-width: 769px) {
        max-width: 1440px;
        min-width: 375px;
        margin: 0 auto;
        padding: 0 60px;
    }
}

.img-responsive {
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    color: $blue-regular;
    text-decoration: none;
    &:hover {
        color: $pink;
    }
}

.titel {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    background: $text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media (min-width: 769px) {
        &__titel {
            font-size: 38px;
        }
    }
}
