* {
    margin: 0;
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    min-width: 375px;
}

.container {
    max-width: 1380px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 30px;

    &_mob {
        max-width: 1350px;
        padding: 0 15px;
    }

    @media (min-width: 768px) {
        max-width: 1440px;
        min-width: 375px;
        margin: 0 auto;
        padding: 0 60px;

        &_width_1110 {
            max-width: 1200px;
            padding: 0 60px;
        }
    }

    @media (min-width: 1024px) {

        &_width_1110 {
            max-width: 1200px;
            padding: 0 60px;
        }
    }

    @media (min-width: 1440px) {

        &_width_1110 {
            max-width: 1110px;
            padding: 0 15px;
        }
    }
}

.img-responsive {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active), 
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

a {
    color: $blue-regular;
    text-decoration: none;
    &:hover {
        color: $pink;
    }
}

.titel {
    margin-top: 8px;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    background: $text-gradient-2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media(min-width: 769px) {
        font-size: 38px;
        line-height: 46px;
    }
}