.tab {
    padding-top: 30px;
    padding-bottom: 30px;

    &__items {
        display: flex;
        overflow: auto;
        margin-bottom: 30px;
    }

    &__item {
        cursor: pointer;
        background-color: transparent;
        border: none;
        white-space: nowrap;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 1.1px;
        color: $gray-text;
        padding: 0;
    }

    &__item.active {
        background: $text-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__item:not(:last-child) {
        margin-right: 33px;
    }

    &__content {
        padding-top: 30px;
        border-top: 4px solid rgba(255, 255, 255, 0.3);
    }

    &__titel {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        margin-bottom: 30px;
    }

    &__copy {
        font-size: 19px;
        line-height: 30px;
        color: $white;
        width: auto;
    }

    @media (min-width: 769px) {

        padding-top: 64px;
        padding-bottom: 60px;

        &__items {
            margin-bottom: 64px;
        }

        &__content{
            padding-top: 60px;
        }

        &__item {
            font-size: 39px;
        }

        &__titel {
            font-size: 30px;
            line-height: 37px;
        }
    }

    @media (min-width: 1025px) {
        padding-top: 59px;

        &__box {
            display: flex;
        }

        &__items {
            width: 45%;
            margin-bottom: 0;
            margin-right: 55px;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-evenly;
            padding: 11px 0;
        }

        &__item {
            letter-spacing: 2px;
        }

        &__item:not(:last-child) {
            margin-right: 0;
        }

        &__item:not(:last-child) {
            margin-bottom: 30px;
        }

        &__content {
            width: 55%;
            padding: 10px 0 10px 60px;
            border-top: none;
            border-left: 4px solid rgba(255, 255, 255, 0.3);
        }
    }

    @media (min-width: 1440px) {
        &__items {
            width: 40%;
            margin-right: 45px;
            padding: 11px 13px;
        }

        &__content {
            width: 60%;
            padding: 45px 121px 43px 60px;
        }
    }
}


