$black: #000000;
$darkblue: #323264;
$darkblue-alt: #46466E;
$darkblue-soft: #686887;
$pink: #F0145A;
$blue-regular: #24A3FF;
$blue-hover: #0085FF;
$blue-active: #006CCF;
$white: #FFFFFF;
$gray-bg: #F5F5FA;
$gray-bg-alt: #EDEDF7;
$gray-text: #B3B3BA;
$gray-separator: #E6E6F0;
$gradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$text-gradient: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$text-gradient-2: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-after: #CACADB;
$gradient-before: #E7E7F2;
$about-bg: color(srgb 0.5168 0.5236 0.6367);
$top-box: rgba(245, 245, 250, 0.2);
$hed-link-hover: rgba(255, 255, 255, 0.2);
$tab-border: rgba(255, 255, 255, 0.3);
$text-shadow: rgba(40, 40, 86, 0.8);

// -----CARDS-BACKGROUND-------

$hillel-bkg: #1C4280;
$wannabiz-bkg: #143646;
$tapgerin-bkg: #F48B30;
$look3d-bkg: #9E4DC3;
$orangera-bkg: #FD9339;
$addtellig: #E2E2E4;
$clickky-bkg: #C71C36;
$ecolease-bkg: #DCF3F9;
$infatek-bkg: #EAEAEA;
$citypark-bkg: #282240;
$artprint-bkg: #1D4568;

// ---------MARGINS-------------

.mr-bt0 {
    margin-bottom: 0;
}