.why-we {
    margin-bottom: 31px;

    &__article {
        display: grid;
        gap: 30px;
    }

    &__text > .titel {
        margin-top: 5px;
    }

    &__copy {
        font-size: 19px;
        line-height: 30px;
        color: $black;
    }

    &__copy:not(:last-child){
        margin-bottom: 20px;
    }

    &__items-box {
        border-left: 4px solid $gray-separator;
        padding: 0 0 0 30px;
    }

    &__item:not(:last-child) {
        margin-bottom: 46px;
    }

    &__item > .titel {
        font-size: 37px;
        margin-top: 4px;
        margin-bottom: 11px;
        padding-left: 3px;
    }

    &__img {
        margin-right: 2px;
    }

    &__item-copy {
        font-size: 16px;
        line-height: 20px;
        color: $darkblue;
    }

    @media (min-width: 768px) {
        margin-bottom: 60px;

        &__article {
            gap: 27px;
        }

        &__item:not(:last-child) {
            margin-bottom: 40px;
        }

        &__item > .titel {
            margin-top: 0px;
            margin-bottom: 8px;
        }
    }

    @media(min-width: 1024px) {
        margin-bottom: 57px;

        &__article {
            grid-template-columns: 55% 45%;
            gap: 17px;
        }

        &__items-box {
            padding: 0 30px 0 34px;
        }

        &__item > .titel {
            font-size: 37px;
            margin-top: 2px;
            margin-bottom: 8px;
            padding-left: 3px;
        }
    }

    @media(min-width: 1440px) {
        
        &__article {
            grid-template-columns: 62% 38%;
        }

        &__items-box {
            padding: 0 30px 0 27px;
            margin-left: 4px;
        }
    }

}