@import 'variables';
@import 'fonts';
@import 'start';
@import 'backgrounds';
@import 'header';
@import 'menu';
@import 'offer';
@import 'tab';
@import 'services';
@import 'link';
@import 'team';
@import 'partners';
@import 'blog';
@import 'footer';
@import 'why-we';
@import 'team-photo';
@import 'quality';
@import 'achievements';